<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="game1">
      <ion-icon name="help-outline"></ion-icon>
      {{gamename}}
    </ion-tab-button>
    <ion-tab-button tab="game2">
      <ion-icon name="search-outline"></ion-icon>
      Game 2
    </ion-tab-button>
    <ion-tab-button tab="game3">
      <ion-icon name="person-circle-outline"></ion-icon>
      Game 3
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
